@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.gamesList {
  max-width: 1200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include onMobile {
    width: 400px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  &__amount {
    color: $secondary-grey;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 25px;
  }

  &__button {
    margin-top: 5px;
    height: 30px;
    padding: 0 10px;
    border: 0;
    border-radius: 30px;
    font-size: 14px;

    color: #fff;
    cursor: pointer;

    background-color: #f39090;
  }
}
