@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.accountOrders {
  padding: 20px;
  min-height: 50vh;
  
  @include onMobile {
    width: 400px;
  }

  &__title {
    font-size: 28px;
    margin-bottom: 5px;
  }

  &__amount {
    margin-bottom: 25px;
  }

  &__list {
    margin-bottom: 40px;
  }
}
