@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";


.game_page {
  position: relative;

  &--unavailable {
    position: absolute;
    top: 0;
    right: 0;

    
    background-image: url('../../assets/images/unavailable.png');
    background-repeat: no-repeat;
    background-size: contain;

    width: 150px;
    height: 150px;
  }

  &__images {
    position: relative;
    height: 340px;
  }

  &__poster {
    height: 280px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 3px;
  }

  &__icon {
    position: absolute;
    top: 220px;
    left: 20px;
    height: 120px;
    width: 120px;
    object-fit: cover;

    border: 2px solid #fff;
  }

  &__title {
    margin-left: 150px;
    font-size: 20px;
    margin-bottom: 15px;
  }

  &__info {
    color: $secondary-grey;
    font-size: 16px;

    padding: 35px 20px 20px;

    &_title {
      font-size: 20px;

      margin-bottom: 15px;
    }

    &_categories {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;


      margin-bottom: 15px;
      
      &_item {
        display: inline;

        padding: 5px 10px;
        border-radius: 30px;
        border: 1px solid $main-blue;
        font-size: 14px;
        background-color: $main-blue;
        color: #fff;

        // &:hover {
        //   background-color: #fff;
        //   color: $main-blue;
        // }
      }
    }

    &_players {
      margin-bottom: 15px;
    }

    &_release {
      font-size: 16px;
    }
  }

  &__disclaimers {
    padding: 0 20px 20px;
    
    &_title {
      color: $main-blue;
      margin-bottom: 10px;
    }

    &_item {
      color: $secondary-grey;
      font-size: 14px;
      margin-bottom: 5px;
    }
  }

  &__video {
    padding: 15px 0 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    width: 100%;
    border: 0;
    background-color: #000000;

    &_title {
      padding: 0 20px;
      font-size: 18px;
      color: #fff;

      margin-bottom: 5px;
    }

    &_description {
      padding: 0 20px;
      font-size: 12px;
      color: #fff;
      
      margin-bottom: 10px;
    }

    &_frame {
      height: 212px;
      margin-bottom: 25px;
    }
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    // margin-bottom: 10px;

    &_regularPrice {
      text-decoration: line-through;
      color: #dd0000;
    }

    &_discountedPrice {
      color: #24991c;
      font-size: 18px;
    }
  }

  &_buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 5px;

    &_cart {
      width: 150px;
      border: 0;
      border-radius: 30px;
      padding: 5px 10px;
      font-size: 16px;
      color: #fff;
      background-color: $main-blue;
      border: 1px solid $main-blue;
      cursor: pointer;

      margin-bottom: 15px;
      
      &--added {
        background: #fff;
        color: $main-blue;
        border: 1px solid $main-blue;
      }

      &--disabled {
        pointer-events: none;
        background-color: #b6b4b4;
        border: 1px solid #b6b4b4;
      }
    }

    &_heart {
      border: 0;
      border-radius: 30px;
      height: 30px;
      width: 30px;
      cursor: pointer;

      background-image: url('../../assets/icons/heart.svg');
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: 3px 4px;
      background-color: $main-grey;

      &--active {
        background-image: url('../../assets/icons/heart-active.svg');
      }
    }
  }
}
