@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.filterResults {
  position: absolute;
  top: -3px;
  left: -3px;

  display: flex;
  gap: 10px;
  padding-bottom: 40px;

  &__found {
    border: 0;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 16px;

    background-color: $main-blue;
    color: #fff;
    cursor: pointer;

    &--absent {
      background-color: #f39090;
    }

    &--clear {
      background-color: #f39090;
    }
  }
}
