@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.publishedReviewsInfo {
  padding: 15px;

  background-color: $main-grey;
  border-radius: 15px;

  height: fit-content;

  margin-bottom: 15px;

  &__header {
    display: flex;
    // flex-direction: column;
    // justify-content: space-between;

    margin-bottom: 15px;
  }

  &__owner {
    width: 260px;
    margin-bottom: 5px;
  }

  &__stars {
    display: flex;
    gap: 2px;
  }

  &__star {
    width: 20px;
    height: 20px;
    border: 0;
    background-color: unset;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../assets/icons/star--inActive.svg');

    &--active {
      background-image: url('../../assets/icons/star--active.svg');
    }
  }

  &__clientComment {

    &--title {
      margin-bottom: 5px;
    }

    &--text {
      padding: 10px;
      border-radius: 10px;
      background-color: #fff;
      border: 1px solid $main-blue;
    }
  }

  &__arrow {
    margin-top: 5px;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-image: url('../../assets/icons/arrow.svg');
    background-repeat: no-repeat;
    transition: transform 0.5s;
    
    &--active {
      transform: rotate(180deg);
    }

    &--inActive {
      display: none;
    }
  }

  &__allInfo {
    display: none;
  
    &--active {
      display: block;
      width: 100%;
    }
  }
}
