@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.priceCalculator {
  font-size: 24px;
  background-color: $main-grey;
  padding: 5px;
  border-radius: 10px;
  user-select: none;
  
  margin-bottom: 40px;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    &--text{
      font-size: 20px;
    }

    &--arrow {
      width: 20px;
      height: 20px;
      background-color: unset;
      border: 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('../../assets/icons/arrow.svg');
      transition: transform 0.5s;

      &--active {
        transform: rotate(180deg);
      }
    }
  }

  &__description {
    font-size: 14px;
    padding: 5px;
    margin-bottom: 15px;
  }

  &__link {
    color: $main-blue;
    font-weight: 600;
    cursor: pointer;
    margin-left: 2px;
  }
}

.calculator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20;
    padding: 5px;

  margin-bottom: 15px;

  &__sum {
    font-size: 65px;
  }

  &__nod {
    display: flex;
    text-align: center;
    flex-direction: column;

    &--number {
      font-size: 50px;
    }
  }

  &__actions {
    display: flex;
    gap: 10px;
    flex-direction: column;

    &_button {
      width: 35px;
      height: 35px;

      border: 0;
      border-radius: 30px;

      background-repeat: no-repeat;
      background-size: contain;
    }

    &--add {
      background-image: url('../../assets/icons/add.svg');
    }
    
    &--subtract {
      background-image: url('../../assets/icons/subtract.svg');
    }
  }

  &__delivery {
    border: 1px solid $main-blue;
    display: flex;
    flex-direction: row;
    margin: 5px;
    font-size: 18px;

    &_option {
      width: 50%;
      padding: 5px 10px;
      text-align: center;

      &--active {
        color: #fff;
        background-color: $main-blue;
      }
    }
  }
}
