@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.savedGamesLink {
  position: relative;
  &__img {
    width: 30px;
  }

  &__amount {
    position: absolute;
    top: 4px;
    right: 1.6px;
    left: 0;
    bottom: 0;

    padding: 3px;

    font-size: 12px;
    text-align: center;

    color: #fff;
  }
}
