@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.delivery {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  user-select: none;

  &__modal {
    width: 350px;
    // height: 350px;
    position: fixed;
    top: 25%;
    left: calc(50% - 175px);

    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: $main-grey;

    border-radius: 10px;

    &_title {
      font-size: 18px;
      margin-bottom: 25px;
    }

    &_option {
      display: flex;
      align-items: center;
      padding: 5px;
      display: flex;
      gap: 10px;
      margin-bottom: 15px;
      transition: background-color 0.4s;
      cursor: pointer;

      &--active {
        border-radius: 10px;
        background-color: #f7f7f7;
      }

      &_address {
        position: relative;
        display: none;

        &--active {
          display: block;
        }

        &--input {
          padding: 2px 5px;

          outline: none;
          border: 1px solid $main-blue;
          font-size: 12px;
        }

        &--clear {
          position: absolute;
          top: calc(50% - 5px);
          right: 5px;
      
          width: 10px;
          height: 10px;
      
          border-radius: 30px;
          border: 0;
          cursor: pointer;
      
          background-image: url('../../assets/icons/clear-search.svg');
          background-repeat: no-repeat;
        }
      }
    }

    &_icon {
      width: 100px;
      height: 50px;
      border-radius: 10px;
    }
  }
  
  &__img {
    &_icon {
      width: 100px;
      height: 50px;
      border-radius: 10px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    &_heading {
      margin-bottom: 5px;
    }

    &_price {
      display: flex;
      gap: 10px;
      font-size: 14px;
      
      margin-bottom: 5px;
    }

    &_text {
      font-size: 12px;
    }

    &_button {
      background-color: $main-blue;
      color: #fff;
      padding: 5px 10px;
      font-size: 12px;
      border-radius: 30px;
      cursor: pointer;
      user-select: none;
      cursor: pointer;
    }
  }
}
