@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.gameList {
  display: grid;
  max-width: 1200px;

  grid-template-columns: repeat(1, minmax(250px, 1fr));
  grid-auto-columns: 250px;
  gap: 40px;

  padding: 20px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;

  @include onTablet {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  @include mediumDesktop {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }

  &--warning {
    height: 200px;
    padding: 50px 20px;

    font-size: 28px;

    text-align: center;
    vertical-align: middle;
    
    margin: 0 auto;

    @include onMobile {
      font-size: 20px;
    }
  }
}
