@import "../../styles/utils/mixins.scss";

.logo {
  // display: block;

  &__img {
    // display: block;

    width: 60px;
    padding-top: 10px;
    margin-left: -15px;

    @include onMobile {
      margin-left: 30px;
    }
  }
}
