@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  
  user-select: none;

  margin-bottom: 24px;
}
