@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.calendar {
  user-select: none;

  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 40px auto;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #0074d9;
    color: #fff;

    button {
      background: none;
      border: none;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
    }

    h2 {
      margin: 0;
      font-size: 18px;
    }
  }

  &__days {
    display: flex;
    background-color: #f7f7f7;
    font-weight: bold;

    .calendar__day {
      flex: 1;
      text-align: center;
      padding: 5px;
      border: 1px solid #ccc;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    padding: 5px;
  }

  &__day {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;

    &--today {
      position: relative;
      &:after {
        position: absolute;
        content: "";
        width: 16px;
        height: 3px;
        background-color: $main-blue;
        bottom: 5px;
        left: calc(50% - 8px);
        border-radius: 30px;
      }
    }
    
    &--off {
      background-color: $main-grey;
    }

    &--selected {
      background-color: $main-blue-hv;
      color: #fff;

      &_between {
        background-color: $main-blue;
        color: #fff;
      }
    }

    &--empty {
      background-color: #f7f7f7;
    }

    &--disabled {
      background-color: #dbd9d9;
      color: #6e6e6e;
      pointer-events:none;

    }

    &--booked {
      background-color: rgb(144, 185, 242);
      color: $secondary-grey;
      pointer-events:none;
    }

  }

  &__legend {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    background-color: $main-blue;

    &_passed {
      display: flex;
      align-items: center;
      gap: 10px;

      &--day {
        width: 40px;
        text-align: center;
        padding: 10px;

        background-color: #dbd9d9;
        color: #6e6e6e;
        pointer-events:none;
      }

      &--text {
        font-size: 18px;
        color: #fff;
      }
    }

    &_booked {
      display: flex;
      align-items: center;
      gap: 10px;

      &--day {
        width: 40px;
        text-align: center;
        padding: 10px;

        background-color: rgb(144, 185, 242);
        color: $secondary-grey;
        pointer-events:none;
      }

      &--text {
        font-size: 18px;
        color: #fff;
      }
    }

    &_available {
      display: flex;
      align-items: center;
      gap: 10px;

      &--day {
        width: 40px;
        text-align: center;
        padding: 10px;

        background-color: #f7f7f7;
        
        color: #000;
        pointer-events:none;
      }

      &--text {
        font-size: 18px;
        color: #fff;
      }
    }
  }
}

