@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.nav {
  display: flex;
  align-items: center;
  justify-content: center;

  @include onMobile {
    display: none;
  }

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
  }

  &__link {
    display: block;
    line-height: 60px;
    user-select: none;
    text-decoration: none;
    color: $secondary-grey;

    &:hover {
      color: $main-blue-hv;
    }
  }
}
