@import "../../styles/utils/colors.scss";
@import "../../styles/utils/mixins.scss";

.sorting {
  position: relative;
  width: 49%;

  color: $secondary-grey;
  font-size: 16px;

  z-index: 99;

  cursor: pointer;
  user-select: none;

  &:after {
    content: "";
    background-image: url('../../assets/icons/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    top: 15px;
    right: 15px;

    width: 12px;
    height: 12px;
  }

  &__select {
    position: relative;
    padding: 10px;

    border: 1px solid $secondary-grey;
    
    &-items {  
      position: absolute;
      width: 100%;

      background-color: #fff;

      border: 1px solid $secondary-grey;
      border-top: 0;
    }
  }

  &__item {
    padding: 10px;;
    border-bottom: 1px solid $secondary-grey;

    &:last-child {
      border: 0;
    }
  }
}
