@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.plansPage {
  padding: 20px;

  &__title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  &__description {
    font-size: 14px;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 20px;
    }
  }
}
