@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.plansPage {
  padding: 20px;

  &__title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  &__description {
    font-size: 14px;
    white-space: pre-wrap;

    margin-bottom: 20px;
  }

  &__questions {
    text-align: center;

    margin-bottom: 10px;
  }

  &__button1 {
    display: block;
    margin: 0 auto;
    width: 280px;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid $main-blue;
    border-radius: 30px;
    color: $main-blue;
    background-color: #fff;
    font-size: 16px;

    margin-bottom: 25px;

    &:hover {
    color: #fff;
    background-color: $main-blue;
    }
  }
}


