@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.registrationPage {
  padding: 20px;
  background-color: #fff;
  width: 100%;
  max-width: 1200px;
  min-height: 60vh;

  @include onTablet {
    padding: 20px 130px;
  }

  @include mediumDesktop {
    padding: 20px 300px;
  }
}
