@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.filterSelector {
  width: 49%;

  padding: 10px;
  text-align: center;

  color: $secondary-grey;
  font-size: 16px;

  border: 1px solid $secondary-grey;

  &__box {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;

    width: 100%;
    height: calc(100vh - 60px);

    padding: 20px;
    z-index: 100;
    overflow-y: scroll;
    
    background-color: $main-grey;
  }

  &__head {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;

    margin-bottom: 10px;
  }

  &__howButton {
    font-size: 12px;
    color: $main-blue;
    margin-bottom: 15px;
  }

  &__how {
    position: absolute;
    z-index: 300;
    top: 0;
    left: 0;
    padding: 20px;
    height: 100%;
    background-color: $main-grey;

    &__button {
      position: absolute;
      top: 20px;
      right: 20px;

      width: 25px;
      height: 25px;
      border: 0;
  
      cursor: pointer;
      
      background-color: unset;
  
      background-image: url('../../assets/icons/burger_menu-open.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &__questions {
      text-align: center;
  
      margin-bottom: 10px;
    }
  
    &__button1 {
      display: block;
      margin: 0 auto;
      width: 280px;
      text-align: center;
      padding: 10px 20px;
      border: 1px solid $main-blue;
      border-radius: 30px;
      color: $main-blue;
      background-color: #fff;
  
      margin-bottom: 25px;
  
      &:hover {
      color: #fff;
      background-color: $main-blue;
      }
    }
  
    &__button2 {
      display: block;
      margin: 0 auto;
      width: 280px;
      text-align: center;
      padding: 10px 20px;
      border: 1px solid $main-blue;
      border-radius: 30px;
      background-color: $main-blue;
      color: #fff;
  
      margin-bottom: 40px;
  
      &:hover {
        color: $main-blue;
        background-color: #fff;
      }
    }
  }

  &__howTitle {
    font-size: 18px;
    color: $main-blue;

    margin-bottom: 25px;
  }

  &__howBlock {
    margin-bottom: 20px;
  }

  &__button {
    width: 25px;
    height: 25px;
    border: 0;

    cursor: pointer;
    
    background-color: unset;

    background-image: url('../../assets/icons/burger_menu-open.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  &__actions {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;

    margin-top: 15px;
    margin-bottom: 50px;
  
    &_button {
      border: 0;
      border-radius: 30px;
      background-color: $main-blue;
      padding: 10px 15px;
      color: #fff;
      font-size: 16px;
      cursor: pointer;

      &--clear {
        background-color: #fff;
        color: #ff5e5e;
        border: 1px solid #ff5e5e;
      }
    }
  }
}
