@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.filterSelector {
  width: 49%;

  padding: 10px;
  text-align: center;

  color: $secondary-grey;
  font-size: 16px;

  border: 1px solid $secondary-grey;

  &__box {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;

    width: 100%;
    height: calc(100vh - 60px);

    padding: 20px;
    z-index: 100;
    overflow-y: scroll;
    
    background-color: $main-grey;
  }

  &__head {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;

    margin-bottom: 15px;

    &_results {
      position: absolute;
      top: -3px;
      left: -3px;

      border: 0;
      padding: 5px 10px;
      border-radius: 30px;
      font-size: 16px;

      background-color: $main-blue;
      color: #fff;
      cursor: pointer;

      &--absent {
        background-color: #f39090;
      }
    }
  }

  &__button {
    width: 25px;
    height: 25px;
    border: 0;

    cursor: pointer;
    
    background-color: unset;

    background-image: url('../../assets/icons/burger_menu-open.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__filterBlock {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    margin-bottom: 15px;

    &_heading {
      width: 100%;
      margin-bottom: 10px;
      font-size: 14px;
    }

    &_item {
      position: relative;
      font-size: 16px;
      color: #000;
      background-color: #fff;
      border: 1px solid $secondary-grey;
      padding: 5px 10px;

      &--active {
        background-color: $main-blue;
        color: #fff;
        border: 1px solid $main-blue;
      }
    }

    &_description {
      display: none;

      position: absolute;
      top: 35px;
      left: 0;

      z-index: 2;

      padding: 3px 2px 5px;
      font-size: 10px;
      background-color: #fff;
      color: #000;

      border: 1px solid $main-blue;

      &--active {
        display: block;
      }

    }

  }
  
  &__actions {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;

    margin-top: 15px;
    margin-bottom: 50px;
  
    &_button {
      border: 0;
      border-radius: 30px;
      background-color: $main-blue;
      padding: 10px 15px;
      color: #fff;
      font-size: 16px;
      cursor: pointer;

      &--clear {
        background-color: #fff;
        color: #ff5e5e;
        border: 1px solid #ff5e5e;
      }
    }
  }
}
