@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.header {
  height: 60px;

  background-color: #262626;

  display: flex;
  justify-content: center;


  
  &__block {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    background-color: $main-grey;


    @include onMobile {
      justify-content: space-between;
    }

    @include onTablet {
      padding: 0 20px;
    }

    @include mediumDesktop {
      padding: 0 20px;
    }
  }


  &__logo {
    display: flex;
    margin-left: 15px;
    
    @include onMobile {
      order: 2;
    }
  }

  &__navigation {
    display: flex;
    @include onMobile {
      order: 1;
    }
  }

  &__login {
    display: flex;

    @include onMobile {
      order: 3;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
