@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.header {
  height: 60px;

  padding: 0 20px;
  background-color: $main-grey;

  display: flex;
  justify-content: space-between;

  @include onMobile {
    justify-content: space-between;
  }

  @include mediumDesktop {
    padding: 0 60px;
  }
  &__logo {
    display: flex;
    @include onMobile {
      order: 2;
    }
  }

  &__navigation {
    display: flex;
    @include onMobile {
      order: 1;
    }
  }

  &__login {
    display: flex;

    @include onMobile {
      order: 3;
    }
  }
}
