@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.loginPage {
  padding: 20px;
  display: flex;
  justify-content: center;
  // align-items: center;
  background-color: #fff;
  width: 100%;
  max-width: 1200px;
  min-height: 70vh;

}
