@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.bookPS {
  padding: 40px;
  text-align: center;

  &__button {
    border: 0;
    border-radius: 30px;
    padding: 10px 20px;

    font-size: 25px;

    background-color: $main-blue;
    color: #fff;
    &:hover {
      // border: 1px solid #fff;
      background-color: $main-blue-hv;
    }
  }

  &__link {
    color: #fff;
  }
}
