@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.footer {
  padding: 20px 20px 10px;
  background-color: $main-blue-hv;
  display: flex;
  justify-content: center;

  &__block {
    width: 100%;
    max-width: 1200px;
  }

  &__logo {
    display: block;
    height: 85px;

    margin-bottom: 20px;

    @include onMobile {
      height: 55px;
    }
  }

  &__links {
    position: relative;
    padding: 20px 10px;
    border-top: 1px solid $main-grey;
    border-bottom: 1px solid $main-grey;

    margin-bottom: 15px;
  }

  &__item {
    margin-bottom: 10px;

    &_link {
      color: #fff;

      &:hover {
        color: $main-grey;
      }
    }
  }

  &__years {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
  }

  &__dev {
    display: flex;
    gap: 5px;
    justify-content: center;
    font-size: 10px;
    color: #fff;

    &__question {

    }

    &__link {
      color: $main-grey;

    }
  }
  


  // &__navigation {
  //   display: flex;
  //   @include onMobile {
  //     order: 1;
  //   }
  // }

  // &__login {
  //   display: flex;

  //   @include onMobile {
  //     order: 3;
  //   }
  // }
}
