@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.psShoppingCartInfo {
  position: relative;
    display: flex;
    gap: 15px;
    margin-bottom: 15px;

    &__calendar {
      width: 90%;
      position: absolute;
      top: 80%;
      left: 5%;

      display: flex;
      justify-content: center;

      background-color: #238df7;

      &_button {
        position: absolute;
        top: 10px;
        right: 10px;

        border-radius: 30px;
        border: 0;

        width: 20px;
        height: 20px;
      }

      // background-color: #fff;
    }
    
    &__img {
      &_icon {
        width: 100px;
        height: 100px;
        border-radius: 10px;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;

      &_title {
        font-size: 20px;
        margin-bottom: 5px;
      }

      &_price {
        display: flex;
        gap: 10px;
        font-size: 16px;
        font-size: 14px;
        
        margin-bottom: 15px;
      }

      &_booking {
        display: flex;
        gap: 10px;
        font-size: 10px;

        &_period {
          background-color: $main-grey;
          padding: 5px 5px;
          border-radius: 30px;
          cursor: pointer;
          user-select: none;
        }

        &_days {
          background-color: $main-blue;
          color: #fff;
          padding: 5px 10px;
          border-radius: 30px;
        }
      }
    }
}
