@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.psShoppingCartInfo {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;

    &__calendar {
      width: 300px;
      position: fixed;
      top: 20%;
      left: calc(50% - 150px);

      display: flex;
      justify-content: center;
    }
    
    &__img {
      &_icon {
        width: 100px;
        height: 100px;
        border-radius: 10px;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;

      &_title {
        font-size: 20px;
        margin-bottom: 5px;
      }

      &_price {
        display: flex;
        gap: 10px;
        font-size: 16px;
        font-size: 14px;
        
        margin-bottom: 10px;
      }

      &_booking {
        display: flex;
        gap: 10px;
        font-size: 10px;

        &_period {
          background-color: $main-grey;
          padding: 5px 5px;
          border-radius: 30px;
          cursor: pointer;
          user-select: none;

          &_choose {
            background-color: $main-blue;
            color: #fff;
            padding: 5px 10px;
            font-size: 12px;
            border-radius: 30px;
            cursor: pointer;
            user-select: none;
            cursor: pointer;
          }
        }

        &_days {
          background-color: $main-blue;
          color: #fff;
          padding: 5px 5px;
          border-radius: 30px;
          cursor: pointer;
        }
      }
    }
}
