@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.pageNotFound {
  padding: 20px;

  background-color: #fff;
  width: 100%;
  max-width: 1200px;
  min-height: 80vh;

  @include onTablet {
    padding: 20px 200px;
  }

  @include mediumDesktop {
    padding: 20px 200px;
  }
}
