@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.login {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  
  &__button {
    border: 0;
    border-radius: 30px;
    padding: 5px 10px;
    background-color: $main-blue;
    
    &:hover {
      background-color: $main-blue-hv;
    }

    @include onTablet {
      font-size: 16px;
      padding: 5px 15px;
    }
    @include mediumDesktop {
      font-size: 16px;
      padding: 5px 15px;
    }

    &_text {
      color: #fff;
    }
  }
}
