@import "./styles/utils/colors.scss";
@import "./styles/utils/colors.scss";

.App {
  display: flex;
  justify-content: center;
  
  &__title {
    display: none;
  }
}

.appBlock {
  background-image: url('./assets/images/0tfa7gmrn2071.jpg');
  background-size: cover;
  background-attachment: fixed;
}
