@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.publishedReviews {
  padding: 20px;

  display: flex;
  flex-direction: column;

&__block {
  display: flex;
  justify-content: space-between;
}

  &__title {
    font-size: 20px;

    margin-bottom: 15px;
  }

  &__content {
    overflow-x: scroll;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__scroll-wrapper {
    display: flex;

    gap: 20px;
  }
}
