@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.acAcPage {
  padding: 20px;
  background-color: #fff;
  width: 100%;
  max-width: 1200px;
  min-height: 50vh;

  @include onTablet {
    padding: 40px 200px;
  }

  @include mediumDesktop {
    padding: 60px 200px;
  }

  &__loader {
    width: 100%;
    height: 50vh;
    background-color: #fff;
    padding-top: 40px;
    
    @include mediumDesktop {
      padding-top: 150px;
      width: 100%;
      height: 80vh;
      max-width: 1200px;
      background-color: #fff;
    }
  }
  
  &__title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 25px;
  }

  &__error {
    color: #ff8e8e;
    text-align: center;
  }

  &__success {
    color: #248e04;
    text-align: center;
    margin-bottom: 80px;
  }

  &__button {
    display: block;
    text-align: center;
    font-size: 24px;
    border: 2px solid $main-blue;
    background-color: $main-blue;
    color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    max-width: 400px;
    margin: 0 auto;
  }
}
