@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.homepage {
  max-width: 1200px;

  @include onMobile {
    width: 400px;
  }

  &__title {
    padding: 20px 0 0 20px;
  }

  &__seoBlock {
    padding: 20px;

    &__title {
      font-size: 28px;

      margin-bottom: 15px;
    }

    &__description {
      font-size: 18px;
      white-space: pre-wrap;
    }
  }
}

.aaa {
  width: 170px;
  height: 100px;
}
