@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.accordion {
  &__item {
    margin-bottom: 16px;
    background-color: $main-grey;
    border-radius: 10px;
    
    &_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;

      font-size: 16px;
      font-weight: 400;

      cursor: pointer;
      
      &--title {
        width: 80%;
      }

      &--arrow {
        width: 20px;
        height: 20px;
        background-image: url('../../assets/icons/arrow.svg');
        background-repeat: no-repeat;
        
        &--active {
          transform: rotate(180deg);
        }
      }
    }

    &_text {
      display: none;
      padding: 10px;

      &--active {
        display: block;
      }
    }
  }
}
