@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.mobileNav {
  display: flex;
  justify-content: center;
  align-items: center;

  @include onTablet {
    display: none;
  }

  @include mediumDesktop {
    display: none;
  }

  &__burger {
    display: block;
    width: 35px;
    height: 25px;
    border: 0;
    background-image: url('../../assets/icons/burger_menu-closed.svg');
    background-repeat: no-repeat;

    &:hover {
      background-color: unset;
    }

    &--active {
      background-image: url('../../assets/icons/burger_menu-opened.svg');
    }
  }

  &__box {
    position: absolute;
    top: 60px;
    left: 0;
    display: flex;

    z-index: 999;

    width: 100%;
    height: calc(100vh - 60px);

    padding: 60px 20px;

    background-color: $main-grey;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 20px;
    color: $secondary-grey;
    margin-bottom: 34px;


    &:hover {
      color: $main-blue-hv;
    }

    &_text {
      display: flex;
    }

    &--icon {
      width: 30px;
      height: 30px;

      background-size: cover;
      background-repeat: no-repeat;

      margin-right: 35px;
    }

    &--home {
      background-image: url('../../assets/icons/home.svg');
    }
    &--games {
      background-image: url('../../assets/icons/games.svg');
    }
    &--plans {
      background-image: url('../../assets/icons/plans.svg');
    }
    &--agreement {
      background-image: url('../../assets/icons/agreement.svg');
    }
    &--about_ps5 {
      background-image: url('../../assets/icons/about_ps5.svg');
    }
    &--login {
      background-image: url('../../assets/icons/login.svg');
    }

    &--arrow {
      width: 15px;
      height: 15px;

      background-image: url('../../assets/icons/arrow-right.svg');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
